trigger: none


parameters:
- name: environment
  displayName: environment
  type: string
  values:
  - dev
  - qa
  - prod

variables:
# - group: ajay
- name: workdir
  value: '$(System.DefaultWorkingDirectory)/environment/${{ variables.environment }}'
- name: backendtfstate
  value: '${{ variables.environment }}.tfstate'

pool: capston-infra-agent-pool

stages:
- stage: build
  displayName: Pre-Commit / Static Analysis Stage
  pool: capston-infra-agent-pool
  jobs: 
  - job: TerraformValidate
    displayName: Terraform Validate
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(workdir)'
        backendServiceArm: 'next-level-sc'
        backendAzureRmResourceGroupName: 'rg-it'
        backendAzureRmStorageAccountName: 'stcapstondevcic01'
        backendAzureRmContainerName: 'capstoncontainer'
        backendAzureRmKey: '$(backendtfstate)'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(workdir)'
  - job: TerraformFmt
    dependsOn: TerraformValidate
    displayName: Terraform FMT
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'custom'
        workingDirectory: '$(workdir)'
        outputTo: 'console'
        customCommand: 'fmt'
        environmentServiceNameAzureRM: 'next-level-sc'
  - job: tfsec
    dependsOn: TerraformFmt
    displayName: TfSec Scan
    steps:
    - task: tfsec@1
      continueOnError: true
      inputs:
        version: 'v1.26.0'
        dir: $(workdir)

  - job: tflint
    dependsOn: tfsec
    displayName: TFLint
    steps:
    - task: PowerShell@2
      continueOnError: true
      inputs:
        targetType: 'inline'
        script: |
          winget install TerraformLinters.tflint     
          ls   
          tflint
        errorActionPreference: 'continue'        
        workingDirectory: '$(workdir)'
- stage: plan
  displayName: Plan and Review stage
  jobs:
  - job: TerraformPlan
    displayName: Terraform plan and Review 
    pool: capston-infra-agent-pool
    steps: 
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(workdir)'
        backendServiceArm: 'next-level-sc'
        backendAzureRmStorageAccountName: 'stcapstondevcic01'
        backendAzureRmContainerName: 'capstoncontainer'
        backendAzureRmKey: '$(backendtfstate)'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(workdir)'
        environmentServiceNameAzureRM: 'next-level-sc'
- stage: ManualApproval
  dependsOn: plan
  displayName: Manual approval
  pool: server
  jobs: 
  - job: ManualApproval
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'ajaykumaryadav97@gmail.com'
- stage: apply
  dependsOn: ManualApproval
  displayName: Terraform Apply
  jobs:
  - job: TerraformApply
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(workdir)'
        backendServiceArm: 'next-level-sc'
        backendAzureRmStorageAccountName: 'stcapstondevcic01'
        backendAzureRmContainerName: 'capstoncontainer'
        backendAzureRmKey: '$(backendtfstate)'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(workdir)'
        environmentServiceNameAzureRM: 'next-level-sc'
  