trigger:
- main
- feature/*

parameters:
- name: environment
  type: string
  values:
  - dev
  - prod
  - qa

pool: capston-infra-agent-pool

stages:
- stage: build
  displayName: terraform-init-plan
  jobs:
  - job: build
    displayName: build-job
    pool: capston-infra-agent-pool
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        backendServiceArm: 'next-level-sc'
        backendAzureRmResourceGroupName: 'rg-it'
        backendAzureRmStorageAccountName: 'stcapstondevcic01'
        backendAzureRmContainerName: 'capstoncontainer'
        backendAzureRmKey: 'capstonfstate'
