trigger:
- main
- feature/*

parameters:
- name: environment
  type: string
  values:
  - dev
  - prod
  - qa

pool: capston-infra-agent-pool

stages:
- stage: build
  displayName: Pre-Commit / Static Analysis Stage
  pool: capston-infra-agent-pool
  jobs: 
  - job: TerraformValidate
    displayName: Terraform Validate
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        backendServiceArm: 'next-level-sc'
        backendAzureRmResourceGroupName: 'rg-it'
        backendAzureRmStorageAccountName: 'stcapstondevcic01'
        backendAzureRmContainerName: 'capstoncontainer'
        backendAzureRmKey: 'capstonfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
  - job: TerraformFmt
    dependsOn: TerraformValidate
    displayName: Terraform FMT
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'custom'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        outputTo: 'console'
        customCommand: 'fmt'
        environmentServiceNameAzureRM: 'next-level-sc'
  - job: tfsec
    dependsOn: TerraformFmt
    displayName: TfSec Scan
    steps:
    - task: tfsec@1
      continueOnError: true
      inputs:
        version: 'v1.26.0'
        dir: '$(System.DefaultWorkingDirectory)/environment/dev'

  - job: tflint
    dependsOn: tfsec
    displayName: TFLint
    steps:
    - task: PowerShell@2
      continueOnError: true
      inputs:
        targetType: 'inline'
        script: |
          winget install TerraformLinters.tflint     
          ls   
          tflint
        errorActionPreference: 'continue'        
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'